a {
	color:#FF8F19;
	text-decoration: none;
}

a:hover {
	color:#78A0CE;
}

td input {
	float: left;
}

.container {
	
	text-align: center;
}


#header {
	font-size: 30px;
}

#header a {
	color:#FFF;
}

#sub_title {
	font-size: 24px;
}

#login {
	background-color: #005AB5;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #FFF;
	font-size: 24px;
}

#login button {
	width: 80px;
	height: 42px;
	color: #FFFFFF;
	background-color: #005AB5;
	border: #FFF solid 2px;
	font-size: 24px;
	font-weight: bold;
	margin-top:25px;
}

#login div {
	margin-top: 10px;
}

.return_form {
	background-color: #005AB5;
	text-align: center;
	padding-top: 20px;
	color: #FFF;
	padding-bottom: 20px;
	font-size: 24px;
}

.return_form div {
	margin-top: 10px;
}

.return_form button {
	width: 110px;
	background-color: #7B7B7B;
	height: 45px;
	color: #FFFFFF;
	border: #FFF solid 2px;
	font-size: 20px;
	font-weight: bold;
}

.search_list {
	background-color: #005AB5;
	text-align: center;
	padding-top: 20px;
	color: #FFF;
	padding-bottom: 20px;
	font-size: 24px;
}

.main {
	background-color: #005AB5;
	text-align: center;
	padding-top: 20px;
	color: #FFF;
	padding-bottom: 40px;
	font-size: 30px;
}

.main div{
	margin-top: 25px;
}

.main button {
	width: 160px;
	height: 54px;
	color: #FFFFFF;
	background-color: #005AB5;
	border: #FFF solid 2px;
	font-size: 30px;
	font-weight: bold;
}

.info_list {
	background-color: #005AB5;
	text-align: center;
	padding-top: 20px;
	color: #FFF;
	padding-bottom: 20px;
	font-size: 24px;
}

.info_list div {
	margin-top: 10px;
}

#search_btn {
	margin-left: 7px;
	width: 80px;
	height: 42px;
	color: #FFFFFF;
	background-color: #005AB5;
	border: #FFF solid 3px;
	font-size: 24px;
	font-weight: bold;
	
}

